<!DOCTYPE html>
<html lang="pt-br" xmlns:th="ww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Famadev</title>
    <link rel="stylesheet" type="text/css" href="../css/Navbar.css">
   	<link rel="stylesheet" type="text/css" href="../css/Funcionario.css">  
</head>
<body>
    <header>
        <div class="ContainerLogo">
            <img class="logo" src="../img/LogotipoFarmadev1.5.png" alt="Logo da Farmadev">
        </div>
        <div class="NavBar">
        	<div class="NavGroup">
        		<a href="/Admin/HomePageFuncionario">Categorias</a>
        		<a href="/Admin/ProdutoFuncionario">Produtos</a>
        		<a href="/Admin/FornecedorFuncionario">Fornecedor</a>
        		<a href="/Admin/VendaFuncionario">Vendas</a>
        	</div>
            <div class="NavGroup">
                <div class="dropdown">
                    <button class="DropBtn"><img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/40/000000/external-user-interface-kiranshastry-lineal-kiranshastry.png"/></button>
                    <div class="DropdownContent">
                    	<a href="/Admin/MeuPerfil">Meu perfil</a>
                        <a href="/sair">Sair</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
    	<div class="Cabecalho">
    		<h1>Categorias</h1>
 			<a class="addButtons" href="/Admin/CadastroCategoria">Nova Categoria</a>
 		</div>
 		
 		<div class="ContainerCards">
 			<div class="Card" th:each="ListCategoria : ${ListaCategorias}">
 				<h3 th:text="${ListCategoria.NomeCategoria}"></h3>
 				<div class="ButtonGroup">
 					<a th:href="|/AlteraCategoria?id=${ListCategoria.id}">Editar</a>
 				</div>
 			</div>
 		</div>
    </main>
</body>
</html>