<!DOCTYPE html>
<html lang="pt-br" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Famadev</title>
    <link rel="stylesheet" type="text/css" href="../css/Navbar.css">
    <link rel="stylesheet" type="text/css" href="../css/HomePageCliente.css">
</head>
<body>
    <header>
        <div class="ContainerLogo">
            <img class="logo" src="../img/LogotipoFarmadev1.5.png" alt="Logo da Farmadev">
        </div>
        <div class="NavBar">
            <form class="FormBusca" action="/Client/PesquisaResultado" method="post">
                <input type="search" name="nomePesquisa" placeholder="pesquisar...">
                <input type="submit" value="Buscar">
            </form>
            <div class="NavGroup">
                <div class="dropdown">
                    <button class="DropBtn"><img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/40/000000/external-user-interface-kiranshastry-lineal-kiranshastry.png"/></button>
                    <div class="DropdownContent">
                    	<a href="/Client/MeuPerfil">Meu perfil</a>
                        <a href="/sair">Sair</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
    	<span class="MsgFlash" th:text="${MensagemFlash}" th:if="${MensagemFlash != null}"></span>
        <div class="ContainerCard">
  			<div class="Card" th:each="ListaProdutos : ${Produtos}">
                <h3 th:text="${ListaProdutos.NomeProduto}"></h3>
                <div class="BodyCard">
                    <div class="GroupItems">
                        <h4>Tipo do medicamento</h4>
                        <span th:text="${ListaProdutos.TipoMedicamento}"></span>
                    </div>
                    <div class="GroupItems">
                    	<h4>Tarja</h4>
                    	<span th:text="${ListaProdutos.TipoTarja}"></span>
                    </div>
                    <div class="GroupItems">
                        <h4>Fornecedor</h4>
                        <span th:text="${ListaProdutos.fornecedor.NomeFornecedor}"></span>
                    </div>
                </div>
                <div class="FooterCard">
                    <span class="preco" th:text="${#numbers.formatCurrency(ListaProdutos.Preco)}"></span>
                    <a id="BtnComprar" th:href="|/Client/FinalizarCompra?id=${ListaProdutos.id}|">Comprar Agora</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>