<<!DOCTYPE html>
<html lang="pt-br" xmlns:th="www.thymeleaf.org">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<title>Farmadev</title>
	<link rel="stylesheet" type="text/css" href="../css/Navbar.css">
 	<link rel="stylesheet" type="text/css" href="../css/Funcionario.css"> 
</head>
<body>
	<header>
        <div class="ContainerLogo">
            <img class="logo" src="../img/LogotipoFarmadev1.5.png" alt="Logo da Farmadev">
        </div>
        <div class="NavBar">
        	<div class="NavGroup">
        		<a href="/Admin/HomePageFuncionario">Categorias</a>
        		<a href="/Admin/ProdutoFuncionario">Produtos</a>
        		<a href="/Admin/FornecedorFuncionario">Fornecedor</a>
        		<a href="/Admin/VendaFuncionario">Vendas</a>
        	</div>
            <div class="NavGroup">
                <div class="dropdown">
                    <button class="DropBtn"><img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/40/000000/external-user-interface-kiranshastry-lineal-kiranshastry.png"/></button>
                    <div class="DropdownContent">
                    	<a href="/Admin/MeuPerfil">Meu perfil</a>
                        <a href="/sair">Sair</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
    	<div class="ContainerTable">
            <table>
                <thead>
                    <tr id="RowHeader">
                        <th colspan="12">Vendas Realizadas</th>
                    </tr>
                    <tr>
                        <th>Data da venda</th>
                        <th>Hora da venda</th>
                        <th>Cliente</th>
                        <th>Produto</th>
                        <th>Forma de pagamento</th>
                        <th>Valor pago</th>
                        <th>Valor Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="ListVenda : ${ListaVendas}">
                        <td th:text="${ListVenda.DataVenda}"></td>
                        <td th:text="${ListVenda.HoraVenda}"></td>
                        <td th:text="${ListVenda.cliente.NomeCompleto}"></td>
                        <td th:text="${ListVenda.Produto.NomeProduto}"></td>
                        <td th:text="${ListVenda.formaPagamento}"></td>
                        <td th:text="${#numbers.formatCurrency(ListVenda.ValorPago)}"></td>
                        <td th:text="${#numbers.formatCurrency(ListVenda.ValorTotal)}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>