@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.MsgFlash {
    width: 80%;

    padding: 10px;

    text-align: center;
    
    border: unset #fa2e2e;
    border-radius: 4px;
    background-color: #fa2e2ec2;
}

.link {
    margin-top: 4px;
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
}

body {
    min-height: 100vh;
    min-width: 100vh;
    
    display: flex;
	overflow: visible;

    font-weight: 500;
    
    color: #ffff;
	background-image: linear-gradient(to right, rgb(12, 45, 106), rgb(169, 180, 201));
}

main {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: #fbfbfb;
    font-size: 40px;
    margin-bottom: 1rem;
    text-align: center;
}

main .container {
    width: 50%;
    height: 50%;
    
    padding: 6px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form label {
    padding: 4px;
    margin-top: 4px;

    position: relative;
    left: 15px;

    align-self: start;
}

main form input, select, textarea {
    background: #161923;
    width: 300px;
    height: 30px;
    padding: 0 0.5rem;
    margin-top: 0.6rem;
    outline: none;
    color: rgba(166, 166, 166);
    font-size: 1rem;
    border: 1px solid #040B18;
    border-radius: 5px;
}

main form input[type="checkbox"] {
    background: #161923;
}

main form input[type="submit"] {
    cursor: pointer;
    width: 50%;
    margin-top: 1rem;
    border: none;
    border-radius: 32px;
    background: #6C63FF;
    color: white;
    font-size: 1.1rem;
    transition: all .3s ease-in-out;
}

main form input[type="submit"]:hover {
    background: #5952d4;
}

.images {
    width: 50%;
   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    /*background-color: coral;*/
}

.images img {
    width: 100%;
}