@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

main {
	width: 100%;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	
	position: relative;
	top: 150px;
}

.Cabecalho {
	width: 100%;
	
	padding: 10px;
	
	display:flex;
	justify-content: space-between;
}

.addButtons {
	padding: 8px;
	
	color: #ffff;
	text-decoration: none;
	background-color: #6D7A92;
}

.ContainerCards {
	width: 100%;
	
	padding: 10px;
	
	display: grid;
	grid-template-columns: 23% 23% 23% 23%;
    grid-gap: 20px;
	justify-content: flex-start;
	
	background-color: #ffffff;
}

.Card {
	width: 100%;
	height: 95px;
	
	padding: 10px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	border: 8px solid #0000;
	border-radius: 4px;
	
	box-shadow: 0px 8px 16px 0px #00000013;
	background: #C4C4C4;
}

.FooterCard{
	width: 100%;
	padding: 10px;
	
	display: flex;
	justify-content: space-between;	
}

.ButtonGroup a {
	padding: 6px;

	border: none;
	border-radius: 4px;
	
    text-decoration: none;
	
	color: #FFFFFF;
	background: #6D7A92;
}

.ContainerTable {
	width: 80%;
	margin-bottom: 15px;
	
	box-shadow: 0px 8px 16px 0px #00000013;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th {
	color: #ffff;
	background-color: #0c2d6aa4;
}

th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

#RowHeader th {
	text-align: center;
}