<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmadev</title>
    <link rel="stylesheet" type="text/css" href="../css/form.css">
</head>
<body>
    <main>
        <h1>Recuperar a senha </h1>
        
        <form action="">   
            <label for="CPF">CPF</label>
            <input type="CPF" id="CPF" name="CPF">
            
            <label for="email">Email</label>
            <input type="email" id="email" name="email">
   
            <input type="submit" value="enviar" id="button">
        </form>
        
        <a class="link" href="/">Tela inicial</a>
    </main>
    
    <section class="images">
          <img src="../img/LogotipoFarmadev1.5.png"/>        
    </section>
</body>
</html>