<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmadev</title>
    <link rel="stylesheet" type="text/css" href="../css/Navbar.css">
    <link rel="stylesheet" type="text/css" href="../css/sobre.css">
</head>
<body>
    <header>
        <div class="ContainerLogo">
            <img class="logo" src="../img/LogotipoFarmadev1.5.png" alt="Logo da Farmadev">
        </div>
        <div class="NavBar">
            <div class="NavGroup">
              <a href="/">Voltar</a>
            </div>
        </div>
    </header>
    <div class="MainContainer">
        <div class="CabecalhoContainer">
            <h1>DESENVOLVEDORES</h1>
        </div>

        <div class="card">
            <div class="HeaderCard">
                <h1>Cleyton Rodrigues</h1>
                <img class="ProfileImg" src="../img/CleytonImg.jpeg"/>
            </div>
            <div class="BodyCard">
                <p>Desenvolvedor back-end/front-end estudante de desenvolvimento  de sistemas pelo ETE Porto digital <br> 
                e voluntário na ONG pro-criança no curso de robótica</p>
            </div>
            <div class="FooterCard">
                <a href="https://github.com/cleytonsilvadev"><img id="GithubId" src="../icons/iconmonstr-github-1-72.png"/></a>
                <a href="https://www.linkedin.com/in/cleytoncrs"><img id="LinkedinId" src="../icons/iconmonstr-linkedin-3-120.png"/></a>
            </div>
        </div>

        <div class="card">
            <div class="HeaderCard">
                <h1>José Daniel</h1>
                <img class="ProfileImg" src="../img/DanielImg.jpeg"/>
            </div>
            <div class="BodyCard">
                <p>--EM DESENVOLVIMENTO--</p>
            </div>
            <div class="FooterCard">
                <a href="https://github.com/daniellsilva3"><img id="GithubId" src="../icons/iconmonstr-github-1-72.png"/></a>
                <a href="https://www.linkedin.com/in/jos%C3%A9-daniel-0a63461b2"><img id="LinkedinId" src="../icons/iconmonstr-linkedin-3-120.png"/></a>
            </div>
        </div>

        <div class="card">
            <div class="HeaderCard">
                <h1>Matheus Falcão</h1>
                <img class="ProfileImg" src="../img/MatheusFalcaoImg.jpg"/>
            </div>
            <div class="BodyCard">
                <p>Desenvolvedor front-end/Back-end dedicando-se a estudar java com Spring Boot para o back-end <br> 
                e HTML, CSS3 e javascript para o front-end</p>
            </div>
            <div class="FooterCard">
                <a href="https://github.com/matheus-551"><img id="GithubId" src="../icons/iconmonstr-github-1-72.png"/></a>
                <a href="https://www.linkedin.com/in/matheus-falc%C3%A3o-4170421b7/"><img id="LinkedinId" src="../icons/iconmonstr-linkedin-3-120.png"/></a>
            </div>
        </div>
    </div>
</body>
</html>